/* responsive */
.box_sp {display: none;}
.box_pc {display: block;}

@media screen and (max-width: 1280px) {
    .adv_poster_r,
    .adv_poster_l{display: none;}
}

@media screen and (min-width: 769px) {
    #btn_top:hover,
    .news_top ul li a:hover,
    .news_list ul li .news_img a:hover,
    .news_other ul li a:hover,
    .news_adv a:hover{opacity: 0.7;cursor: pointer;}

    .news_other ul li a:hover,
    .sub .breadcrumb ul li a:hover{color: #ea433c;}
    .prd_ct .big:hover{color: #000;cursor: pointer;}
    .prd_detail_img p a:hover{text-decoration: underline;cursor: pointer;}

    footer .item-footer button:hover{border-color:#fff;color:#b62124;background:#fff}
    footer .item-footer input:hover,
    footer .item-footer input:focus,
    footer .item-footer textarea:hover,
    footer .item-footer textarea:focus{border-color:#000;color:#000}
}

@media screen and (max-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd{font-size: 14px;line-height: 1.5em;}



    #wrapper,
    header,
    main,
    footer,
    .inner {width: 100% !important;min-width: inherit !important;}
    .inner {box-sizing: border-box;padding: 0 15px;}
    .box_sp {display: block;}
    .box_pc {display: none;}

    /*==========================================================================*/
    /*                               INDEX                                      */
    /*==========================================================================*/

    #index header h1 img{max-width: 150px;}

    .idx_search span{margin: 20px 0;}

    .idx_search_x2{padding: 15px;height: 55vh;overflow: auto;}
    .idx_search_x2 p{font-size: 18px;margin-bottom: 15px;}
    .idx_search_x2 ul li{margin: 0 10px 20px 0;}
    .idx_search_x2 ul li a{letter-spacing: 0;}

    /*==========================================================================*/
    /*                               SUB                                        */
    /*==========================================================================*/
    .sub header{height: 70px;padding: 0 15px}
    .sub header h1{flex-shrink: 0}
    .sub .head_search{width: calc(100% - 110px)}
    .sub .head_search span{width: 100%;}
    
    .sub main{margin-top: 100px;}
    .sub h3{font-size: 24px;margin-bottom: 30px;}
    
    /* PRODUCT PAGES */
    .product_list{justify-content: space-between;}
    .product_item{width: calc((100vw - 50px) / 2);margin:0 0 50px;}
    .product_item .prd_img a{height: calc((100vw - 50px) / 2 * 2 / 3);}
    
    .sub .prd_ttl h3{font-size: 20px}
    .sub .prd_ttl .price{position: relative;top: inherit;right: inherit;font-size: 24px;}
    .sub .prd_ttl .local{font-size: 12px;}
    
    .sub .prd_detail_img{margin-top: 20px;padding-top: 20px}
    .sub .prd_detail_img li{width: 48%;margin:0 0 20px;}
    .sub .prd_detail_img li a{height: calc((100vw - 50px) / 2 * 2 / 3);}

    /* NEWS PAGES */
    .news_right{display: none;}
    .news_left{width: 100%;}

    .news_top{}
    .news_top ul{flex-wrap: wrap;}
    .news_top ul li{width: 100%}
    .news_top ul li a{align-items: flex-start;height: auto;border:1px solid #ddd;padding: 10px;}
    .news_top ul li a img{width: 40vw;}
    .news_top ul li a span{position: relative;bottom: inherit;left: inherit;height: auto;background: none;text-shadow: none;color: #666;font-size: 20px;line-height: 1.5em;display: flex;height: 100%;align-items: center;width: 60vw;}

    .news_list ul li{position: relative;padding: 10px;}
    .news_list ul li .news_img{width: 40vw;height: auto;}
    .news_list ul li .news_txt{width: 60vw;padding: 0 15px 15px;}
    .news_list ul li .news_txt h3{font-size: 18px;height: 48px;overflow: hidden;margin-bottom: 10px;}
    .news_list ul li .news_txt p{height: 50px;overflow: hidden}
    .news_list ul li .news_txt p.date{font-size: 12px;height: auto;}
    .news_list ul li .news_txt p.date a{color: #ea433c;}
    .news_list ul li .news_txt p.date a span{display: none;}
    
    .news_detail_ct h3{font-size: 24px;}
    .news_other ul li{width: 48%;margin:0 0 15px;height: auto;}
    .news_other ul{justify-content: space-between;}

    /* FOOTER */
    footer{padding: 30px 0 15px}
    footer .inner{flex-wrap: wrap;}
    footer .item-footer{width: 48%;margin:0 0 30px;}
    footer .item-footer:last-child{margin-bottom: 0}

    #btn_top{width: 25px;height: 25px;right: 15px;bottom: 30px}

}

@media screen and (max-width: 560px) {
    .idx_search span{width: 100%;}
   
    
}

@media screen and (max-width: 480px) {
    .product_item,
    footer .item-footer{width: 100%}

    .product_item .prd_img a{height: calc((100vw - 30px) * 2 / 3) }

    .news_top ul li a{flex-wrap: wrap}
    .news_top ul li a img{width: auto;}
    .news_top ul li a span{width: 100%;padding: 0;margin-top: 10px;}

    .news_list ul li{flex-wrap: wrap;}
    .news_list ul li .news_img{width: 100%;text-align: center;margin-bottom: 10px;}
    .news_list ul li .news_txt{width: 100%;padding: 0}
    .news_list ul li .news_txt h3,
    .news_list ul li .news_txt p{height: auto;overflow: inherit;}
}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 380px) {
    .btn{padding: 0;width: 100%;box-sizing: border-box}
}

@media screen and (max-width: 360px) {

}