@charset "UTF-8";
table{width: 100%}
p {margin: 0 0 30px;}
div > p:last-child{margin-bottom: 0}
*{box-sizing: border-box;outline: none;} 
img{max-width: 100%;vertical-align: middle;}
table,
select,
input,
button,
textarea{color: #333;line-height: 1.4;}

li li,li dt,li dd,li input,li select,li button,li textarea,li p,li th,li td,
dt li,dt dt,dt dd,dt input,dt select,dt button,dt textarea,dt p,dt th,dt td,
dd li,dd dt,dd dd,dd input,dd select,dd button,dd textarea,dd p,dd th,dd td,
th li,th dt,th dd,th input,th select,th button,th textarea,th p,th th,th td,
td li,td dt,td dd,td input,td select,td button,td textarea,td p,td th,td td,
p input{ font-size: 100%;}

/*==========================================================================*/
/*                            Container                                     */
/*==========================================================================*/
.inner {width:100%;margin: 0 auto;}
#wrapper {}
a{text-decoration: none;color: #333;}
a:hover{color: #333;}

p,
dd,
dt,
li,
th,
td{line-height: 1.8em}

/*==========================================================================*/
/*                               Header                                     */
/*==========================================================================*/
.sub header{position: fixed;top: 0;left: 0;width: 100%;background: #fff;box-shadow: 0 0 8px #ccc;height: 100px;padding: 0 30px;display: flex;align-items: center;z-index: 3;}
.sub header h1{margin-right: 30px;}
.sub header h1 a{}
.sub header h1 a img{max-width: 100%;}

.sub .head_search{}
.sub .head_search span{margin:0 auto ;width: 500px;display: block;background: #fff;border-radius: 50px;border:1px solid #ccc;}
.sub .head_search span:hover,
.sub .head_search span:focus{box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28)}
.sub .head_search span input{background: none;border: none;outline: none;display: block;width: 100%;padding: 15px;font-size: 14px;}
.sub .head_search span input::placeholder{color: #999}

.sub main{margin-top: 150px}
/*==========================================================================*/
/*                            Quảng cáo                                     */
/*==========================================================================*/
.adv_location{position: relative;}
.adv_poster_l{position: absolute;top: 0;left: -220px}
.adv_poster_r{position: absolute;top: 0;right: -220px}

.adv_poster_l.active,
.adv_poster_r.active{position: fixed;}

/*==========================================================================*/
/*                               Main                                       */
/*==========================================================================*/
main{position: relative;z-index: 2}
.content_show{background: #f5f8f9;padding-top: 100px}
.post-body #wrapper{font-family: 'Roboto Condensed', sans-serif;font-size: 15px;font-weight: 400;}
.prd_detail{}
.prd_detail h3{font-family:"Oswald", sans-serif;text-align:left;text-transform:capitalize;margin-bottom:15px}
.prd_ttl{display:flex;position: relative;flex-direction: column;}
.prd_ttl h3{text-align:left;font-size:24px;font-weight:300;margin-bottom:0}
.prd_ttl p{margin-bottom: 0}
.prd_ttl .price{text-align:left;font-family:"Oswald", sans-serif;font-size:28px;font-weight:300;color: #666;order: 3}
.prd_ttl .local{margin:10px 0;}

.prd_detail_img{margin-top:30px;padding-top:30px;border-top:1px dashed #dcdee3;}
.prd_detail_img p{}
.prd_detail_img p span{color: #ea433c;}
.prd_detail_img p a{color: #ea433c;}
.prd_detail_img ul{display:flex;justify-content: space-between;flex-wrap: wrap;transition: all ease 0.4s;opacity: 0;visibility: hidden;height: 0}
.prd_detail_img ul.active{visibility: visible;opacity: 1;height: auto}
.prd_detail_img li{width:32%;margin:0 2% 30px 0;background:#fff;position:relative}
.prd_detail_img li:nth-child(3n + 3){margin-right: 0}
.prd_detail_img li a{width: 100%;height: 216px;display: flex;align-items: center;justify-content: center;text-align: center;}
.prd_detail_img li a img{flex-shrink: 0;border-radius: 5px;}
.prd_detail_img li:hover{opacity: 0.7;}

.prd_ct{padding-top:15px;border-top:1px dashed #dcdee3}
.prd_ct .info,
.prd_ct .big{font-size: 18px;font-family:"Oswald", sans-serif;text-transform: capitalize;margin-bottom: 20px;color: #ea433c;border-bottom: 1px solid #ccc;padding-bottom: 10px;}
.prd_ct p{margin-bottom:15px;}
.prd_ct .prd_info{margin-bottom: 30px;background: #fff;padding: 15px;}
.prd_ct .prd_content{display: none;margin-bottom: 30px;background: #f5f8f9;padding: 15px;}
.prd_ct .prd_content.active{display: block !important}

.prd_ct ul:last-child,
.prd_ct p:last-child{margin-bottom: 0}
.prd_ct .big:hover,
.prd_detail_img p a:hover{text-decoration: underline;cursor: pointer;}

/*==========================================================================*/
/*                               Footer                                     */
/*==========================================================================*/
footer{padding: 50px 0 30px;position: relative;margin-top: 400px;color: #fff;background: #666;}
footer .footer_bg{overflow: hidden;position: absolute;top: -300px;width: 100%;height: 300px;background: url('../images/footer_bg.png') top left no-repeat}
footer .footer_bg::before{width: 100%;height: 100%;background: #fff;position: absolute;top: 0;left: 0;z-index: -1;content: ''}
footer .inner{display: flex;justify-content: space-between;}
footer .item-footer{width: 30%;}
footer .item-footer a{color: #fff;}
footer .item-footer ul{}
footer .item-footer ul li{}
footer .item-footer ul li p{margin-bottom:15px;}
footer .item-footer ul li p i{font-size:20px;}
footer .item-footer p.big{color:#fff;border-bottom:2px solid #fff;padding-bottom:10px;margin-bottom:15px;font-size:22px;font-weight:400;text-transform: uppercase}
footer .item-footer input{width:100%;display:inline-block;border:none;border-bottom:1px solid #d3d3d3;padding:10px 15px;background:none;margin:0px 0px 15px 0;color: #fff;}
footer .item-footer textarea::placeholder,
footer .item-footer input::placeholder{color: #fff;}

footer .item-footer input[type="submit"]{width:45%;}
footer .item-footer textarea{border:none;border-bottom:1px solid #d3d3d3;padding:10px 15px;background:none;width:100%;min-height:70px;color: #fff;}
footer .item-footer button{padding:10px 30px;border:1px solid #d3d3d3;color:#fff;text-transform:uppercase;background:none;margin:15px auto 0;display: block;border-radius: 5px;}
footer address{position: relative;bottom: inherit;left: inherit;margin-top: 30px;}


/* FIX PADDING */
.pdb30{padding: 0 0 30px}
.pdb50{padding: 0 0 50px;}
.mgb0{margin-bottom: 0;}
.mgb30{margin-bottom: 30px;}
.mgb50{margin-bottom: 50px;}
.fs12{font-size: 12px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs20{font-size: 20px;}

/* FIREFOX CSS */
@supports (-moz-appearance:none) and (-webkit-appearance:none)
{
  
}

/* IE STUPID CSS */
@media screen\0 {
	
}

/* EDGE 12+ CSS */
@supports (-ms-ime-align:auto) {
	
}



